<style>
    /* Estilos personalizados */
    .about-section {
      text-align: center;
      padding: 50px 0;
    }
    .about-section img {
      max-width: 100%;
      height: auto;
    }
</style>
<div class="mx-auto">
  <div class="row">
    <div class="col-lg-12">
      <div class="about-section">
        <img src="../assets/image.png" alt="Imagem de Sobre" class="img-fluid rounded border border-dark border-5">
        <h2 class="py-3">Sobre o Nosso Site</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare felis in vestibulum posuere. Nullam ac nulla massa. Sed id ligula eget est placerat luctus. Duis non ullamcorper libero, id fringilla nisi. Donec pulvinar vestibulum nibh, ut scelerisque odio faucibus in.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare felis in vestibulum posuere. Nullam ac nulla massa. Sed id ligula eget est placerat luctus. Duis non ullamcorper libero, id fringilla nisi. Donec pulvinar vestibulum nibh, ut scelerisque odio faucibus in.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare felis in vestibulum posuere. Nullam ac nulla massa. Sed id ligula eget est placerat luctus. Duis non ullamcorper libero, id fringilla nisi. Donec pulvinar vestibulum nibh, ut scelerisque odio faucibus in.
        </p>
      </div>
    </div>
  </div>
</div>