<nav class="navbar navbar-light bg-success text-white">
    <div class="d-flex justify-content-between align-items-center w-50 ps-3">    
        <div class="navbar-brand text-white" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="../assets/Logo_vivendas-removebg-preview (1).png" width="30" height="30" class="d-inline-block align-top h1 " alt="">Vivendas do sol
        </div>
        <a class="nav-item nav-link" routerLink="/listagem" routerLinkActive="active" ariaCurrentWhenActive="page">Eventos</a>
        <a class="nav-item nav-link" routerLink="/cadastro" routerLinkActive="active" ariaCurrentWhenActive="page">Cadastro de Eventos</a>
    </div>    
    <span class="navbrar-text pe-3">v2.0</span>  
</nav>